_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

.vscode/*

local.settings.json
.python_packages
__pycache__
.venv

data/*

__azurite*
*__blobstorage__*
*__queuestorage__*

*.tfstate*
*.terraform*
