{% assign bike-barplot = site.data.data.bike-barplot %}
{% if bike-barplot %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-bicycle fa-stack-1x fa-inverse"></i>
    </span>
    {{ bike-barplot.title }}
  </h2>

  <div class="summary">
    {{ bike-barplot.summary | markdownify }}
  </div><!--//summary-->

  <canvas id="barplot" style="width:100%;max-width:700px"></canvas>

    <!-- Barplot-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/barplot.js"></script>

</section><!--//section-->
{% endif %}