<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ sidebar.email }}">{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      <span>{{ sidebar.timezone }}</span>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website"><i class="fas fa-globe-americas"></i>
      <a href="http://{{ sidebar.website }}" target="_blank">{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank">Linkedin</a>
    </li>
    {% endif %}

    {% if sidebar.certly %}
    <li class="xing"><img src="assets/images/icons/certly.png" style="padding-right: 2%"></i>
      <a href="https://www.credly.com/users/{{ sidebar.certly }}/badges" target="_blank">certly</a>
    </li>
    {% endif %}

    {% if sidebar.xing %}
    <li class="xing"><i class="fab fa-xing"></i>
      <a href="https://www.xing.com/profile/{{ sidebar.xing }}" target="_blank">Xing</a>
    </li>
    {% endif %}

    {% if sidebar.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ sidebar.github }}" target="_blank">Github</a>
    </li>
    {% endif %}


    {% if sidebar.twitter %}
    <li class="twitter"><i class="fab fa-twitter"></i>
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank">Twitter</a>
    </li>
    {% endif %}

    {% if sidebar.komoot %}
    <li class="goodreads-g"><img src="assets/images/icons/komoot.png" style="padding-right: 2%"></i>
      <a href="https://www.komoot.de/user/{{ sidebar.komoot['userid'] }}" target="_blank">Komoot</a>
    {% endif %}

  </ul>
</div><!--//contact-container-->
