<!-- Navbar -->
<nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top w-100">
    <div class="container">
        <a href="{{ site.baseurl }}/index.html"><img src="/assets/images/logo/300.png" alt="Home button"
                style="width:9vh;height:9vh;"></a>

        <!-- Hamburger menu button for small screens -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarColor02">
            <ul class="navbar-nav d-flex align-items-center justify-content-center">
                {% include menu-header.html %}
            </ul>
        </div>
    </div>
</nav>
